/* General Reset */
* {
  margin: 0;
  padding: 0;
}
html{
  scroll-snap-type: y mandatory;
}

body {
  font-family: 'Great Vibes', cursive;
  color: #5a5a63;
  background-color: rgba(7, 7, 7, 0.25);
}

a {
  color: inherit;           /* inherit text color from parent */
  text-decoration: none;    /* remove underline */
}

::-webkit-scrollbar {
    display: none;
}

.outer-container{
  display: flex;
  justify-content: center;
  
}

.header-container {
  margin-top: 60px;
  position: fixed;
  width: 400px; 
  height: 60px;
  display: flex;
  justify-content: space-around; 
  align-items: center;
  font-size: 15px;
  border-radius: 20px;
  color: #ff0000;
  background: rgba(245, 135, 135, 0.272); /* very light white on dark */
  box-shadow: 0 0px 32px rgb(216, 72, 72);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.hover-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
}

.icon {
  padding-top: 15px;
  font-size: 2rem;
  transition: transform 0.3s ease;
}

.hover-text {
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s ease;
  font-size: 0.9rem;
  color: #7e7d7d;
  margin-top: -5px;
}

/* Hover effect */
.hover-card:hover .icon {
  color: rgb(255, 255, 255);
  zoom: 120%;
  transform: translateY(-10px);
}

.hover-card:hover .hover-text {
  opacity: 1;
  color: rgb(255, 255, 255);
  transform: translateY(0);
}

.hover-card.active .icon {
  color: #ffffff; /* your highlight color */
  transform: translateY(-3px);
}



.menu {
  position: absolute;
  margin-left: 20px;
  margin-top: 20px;
  padding: 0 10px;
  display: flex;
  align-items: center;
}


.logo {
  padding-left: 10px;
  width: 40px;
}

.sidebar {
  position: fixed;
  margin-top: 50px;
  top: 0;
  left: 0;
  width: 100px;
  height: 100vh;;
  color: #ff0000;
  z-index: 1000; 
}
.line {
  width: 1px;
  height: 25vh;
  color: #ff0000;
  background-color: #ff0000;
  margin-left: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
}





.logos {
  width: 30px;
  margin-left: 20px; 
}

.content {
  width: 100vw;
  height: 100vh;
}

.a {
  background-color: #141414;
  /* background-image: linear-gradient(to bottom right, black, rgb(73, 72, 72) ); */
}


.b {
  background-color: #141414;
  display: flex;
  justify-content: center;
  align-items: center;
}



.c {
  background-color: #141414;
  display: flex;
  justify-content: center;
  align-items: center;
}
.d {
  background-color: #141414;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  height: 100vh;
}

.text {
  padding-top: 400px;
  padding-left: 20%;
  color: #cccccc;
}