/* General Reset */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  color: #040429;
  background-color: #040429;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  background-color: #ffffff;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  padding: 0px 20px;
}

.hero-section {
  position: relative;
  height: 400px;
  background: linear-gradient(to right, #10192f, #2f195a);
  padding: 100px 50px;
  overflow: hidden;
}

.content {
  width: 50%;
  color: white;
  z-index: 2;
  top: 40%;
  left: 10%;
  position: relative;
}

.hero-image {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 90%;
  z-index: 1;
}

.floating-card,
.code-snippet {
  position: absolute;
  background: white;
  border-radius: 10px;
  padding: 10px;
  z-index: 3;
}

.floating-card {
  top: 80px;
  right: 20%;
}

.code-snippet {
  bottom: 70px;
  right: 30%;
  background: #1e1e1e;
  color: #c5c5c5;
  font-family: monospace;
}

.hero-section {
  clip-path: ellipse(90% 100% at 35% 0%);
}
