/* General Reset */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  color: #040429;
  background-color: rgb(255, 127, 0,.25);
}

.header-container {
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 127, 0);
  font-weight: 600;
  font-size: small;
}


.menu {
  width: 10%;
  margin-left: 10%;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-menu {
  padding-left: 0;
  display: flex;
  justify-content: center;
}


.logo {
  width: 30px;
}
